
*{
    margin: 0;
    padding: 0;
}

.post{
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        width: 89vw;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: start;
        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            align-items: start;
            .on{
                font-family: Inter;
                font-weight: 900;
                font-size: 16px;
                leading-trim: NONE;
                line-height: 20px;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            h1{
                font-family: Sen;
                font-weight: 700;
                font-size: 56px;
                leading-trim: NONE;
                line-height: 64px;
                letter-spacing: -2px;
                color: #FFFFFF;
            }
            .nf{
                padding-left:10px ;
                padding-right:10px ;
                color: #FFD050;
            }
            p{
                font-family: Inter;
                font-weight: 400;
                font-size: 16px;
                leading-trim: NONE;
                line-height: 28px;
                letter-spacing: 0px;
                color: #FFFFFF;
            }
            button{
                background-color: #FFD050;
                font-weight: 700;
                font-size: 18px;
                leading-trim: NONE;
                line-height: 24px;
                letter-spacing: 0px;
                vertical-align: middle;
                border-radius:0 ;
                width: 9vw;
                height: 5vh;
                outline: none;
                border: none;
            }
        }
    }
}
.co{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .tit{
        width: 89vw;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 30vw;
        }
        h1{
            font-family: Sen;
            font-weight: 700;
            font-size: 36px;
            leading-trim: NONE;
            line-height: 48px;
            letter-spacing: -2px;
            color: #232536;
        }
        a{
            font-family: Inter;
            font-weight: 400;
            font-size: 16px;
            leading-trim: NONE;
            line-height: 28px;
            letter-spacing: 0px;
            color: #592EA9;
        }
    }
}
.podco{
    width: 89vw;
    height: 73vh;
    display: flex;
    justify-content: space-between;

}

.rightCO{
    width: 30vw;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    div{
        width: 100%;
        height: 95%;
        display: flex;
        align-items: start;
        ul{
            display: flex;
            padding-left: 40px;
            padding-top: 10px;
            flex-direction: column;
            justify-content: space-evenly;
            width: 100%;
            height: 70%;
            align-items: start;
            .by{
                font-family: Inter;
                font-weight: 500;
                font-size: 14px;
                leading-trim: NONE;
                line-height: 20px;
                letter-spacing: 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
            }
            .name{
                    padding-left:10px ;
                    padding-right:10px ;
                    font-family: Inter;
                    font-weight: 500;
                    font-size: 14px;
                    leading-trim: NONE;
                    line-height: 20px;
                    letter-spacing: 0px;
                    color: #592EA9;
                }
            h1{
                font-family: Sen;
                font-weight: 700;
                font-size: 28px;
                leading-trim: NONE;
                line-height: 40px;
                letter-spacing: -1px;
                color: #232536;
            }
            p{
                font-family: Inter;
                font-weight: 400;
                font-size: 16px;
                leading-trim: NONE;
                line-height: 28px;
                letter-spacing: 0px;
                color: #6D6E76;
            }
        }
    }
}
.rightCO{
    div:hover { background-color: #FBF6EA; }
}
.leftCO{
    width: 52vw;
    height: 100%;
    // border: solid 1px #6D6E76;
    box-shadow: 1px 1px 1px 1px #6D6E76;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        width: 90%;
        height: 100%;
        display: flex;
        align-items: start;
        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 96%;
            align-items: start;
            img {
                width: 100%;
                height: 91%;
            }
            .by{
                font-family: Inter;
                font-weight: 500;
                font-size: 14px;
                leading-trim: NONE;
                line-height: 20px;
                letter-spacing: 0px;

            }
            .name{
                padding-left:10px ;
                padding-right:10px ;
                font-family: Inter;
                font-weight: 500;
                font-size: 14px;
                leading-trim: NONE;
                line-height: 20px;
                letter-spacing: 0px;
                color: #592EA9;
            }
            h1{
                font-family: Sen;
                font-weight: 700;
                font-size: 28px;
                leading-trim: NONE;
                line-height: 40px;
                letter-spacing: -1px;
                color: #232536;
            }
            p{
                font-family: Inter;
                font-weight: 400;
                font-size: 16px;
                leading-trim: NONE;
                line-height: 28px;
                letter-spacing: 0px;
                color: #6D6E76;
            }
            button{
                background-color: #FFD050;
                font-weight: 700;
                font-size: 18px;
                leading-trim: NONE;
                line-height: 24px;
                letter-spacing: 0px;
                vertical-align: middle;
                border-radius:0 ;
                width: 9vw;
                outline: none;
                border: none;
                height: 5vh;
            }
        }
    }
}
.hi{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about{
    width: 89vw;
    height: 48vh;
    display: flex;
    align-items: end;
    flex-direction: column;
    .abtwo{
        background-color:#F4F0F8 ;
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        div{
            width: 39%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            button{
                width: 9vw;
                margin: 0;
                padding: 0;
                height: 5vh;
                font-family: Sen;
                font-weight: 700;
                font-size: 18px;
                leading-trim: NONE;
                line-height: 32px;
                letter-spacing: 0px;
                vertical-align: middle;
                color:#592EA9 ;
                border: none;
                display: flex;
                justify-content: left;
                align-items: center;
                background-color: #F4F0F8;
                outline: none;
                border: none;
            }
            .ab{
               font-family: Inter;
                font-weight: 600;
                font-size: 16px;
                leading-trim: NONE;
                line-height: 20px;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: #232536;
            }
            p{
                font-family: Inter;
                font-weight: 400;
                font-size: 16px;
                leading-trim: NONE;
                line-height: 28px;
                letter-spacing: 0px;
                color: #6D6E76;
            }
            h2{
                font-family: Sen;
                font-weight: 700;
                font-size: 36px;
                leading-trim: NONE;
                line-height: 48px;
                letter-spacing: -2px;
            }
            h3{
                font-family: Sen;
                font-weight: 700;
                font-size: 28px;
                leading-trim: NONE;
                line-height: 48px;
                letter-spacing: -2px;
            }
        }
    }
    .xy{
        width: 90%;
        height: 5%;
        display: flex;
        justify-content: end;
        align-items: center;
        background-color: #FFD050;
        div{
            width: 25%;
            height: 100%;
            background-color: #592EA9;  
        }
    }
}
.cater{
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    section{
        width: 89vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .orii{
            width: 100%;
            height: 60%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .catka:hover { background-color: #FFD050; }
            .catka{
                width: 15%;
                height: 80%;
                display: flex;
                align-items: start;
                flex-direction: column;
                justify-content: space-evenly;
                border: solid 1px #6D6E76;
                padding-left: 4%;
                h3{
                    font-family: Sen;
                    font-weight: 700;
                    font-size: 28px;
                    leading-trim: NONE;
                    line-height: 40px;
                    letter-spacing: -1px;
                }
                p{
                    font-family: Inter;
                    font-weight: 400;
                    font-size: 16px;
                    leading-trim: NONE;
                    line-height: 28px;
                    letter-spacing: 0px;

                }
            }
        }
    }
}
.nadf{
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        width: 70%;
        height: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        h3{
            font-family: Sen;
            font-weight: 700;
            font-size: 36px;
            leading-trim: NONE;
            line-height: 48px;
            letter-spacing: -2px;
            text-align: center;
            color: #232536;
        }
        p{
            font-family: Inter;
            font-weight: 400;
            font-size: 16px;
            leading-trim: NONE;
            line-height: 28px;
            letter-spacing: 0px;
            text-align: center;
            color: #6D6E76;
        }
        button{
            border-radius: 0;
            background-color: #FFD050;
            width: 10%;
            height: 17%;
            font-family: Sen;
            font-weight: 700;
            font-size: 18px;
            leading-trim: NONE;
            line-height: 24px;
            letter-spacing: 0px;
            vertical-align: middle;
            color: #232536;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            border: none;
        }
    }
}
.logocount{
    width: 100vw;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.liAuth{
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    h2{
        font-family: Sen;
        font-weight: 700;
        font-size: 36px;
        leading-trim: NONE;
        line-height: 48px;
        letter-spacing: -2px;
        color: #232536;
    }
    section{
        width: 89vw;
        height: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .use{
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: #F4F4F4;
            ul{
                width: 100%;
                height: 75%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                h3{
                    font-family: Sen;
                    font-weight: 700;
                    font-size: 28px;
                    leading-trim: NONE;
                    line-height: 40px;
                    letter-spacing: -1px;
                    color: #232536;
                }
                p{
                    font-family: Inter;
                    font-weight: 400;
                    font-size: 14px;
                    leading-trim: NONE;
                    line-height: 20px;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #6D6E76;
                }
                div{
                    width: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            li{
              img{
                width: 128px;
                height: 128px;
                border-radius: 100%;
            }  
            }
            
        }
        .use:hover{ background-color: #FBF6EA; }
    }
}
.whywe{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    section{
            width: 89vw;
            height: 80vh;
            display: flex;
            align-items: end;
            justify-content: end;
            background-image: url(assets/aaa.png);
            background-repeat: no-repeat;
    }
    div{
        padding-left: 100px;
        width: 51%;
        height: 70%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
        p{
            font-family: Inter;
            font-weight: 600;
            font-size: 16px;
            leading-trim: NONE;
            line-height: 20px;
            letter-spacing: 3px;
            color: #232536;
        }
        h1{
            font-family: Sen;
            font-weight: 700;
            font-size: 48px;
            leading-trim: NONE;
            line-height: 64px;
            letter-spacing: -2px;
            color: #232536;
        }
        .whe{
            font-family: Inter;
            font-weight: 400;
            font-size: 16px;
            leading-trim: NONE;
            line-height: 28px;
            letter-spacing: 0px;
            color: #6D6E76;
        }
        button{
            border-radius: 0;
            background-color: #FFD050;
            width: 20%;
            height: 7%;
            font-family: Sen;
            font-weight: 700;
            font-size: 18px;
            leading-trim: NONE;
            line-height: 24px;
            letter-spacing: 0px;
            vertical-align: middle;
            color: #232536;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            border: none;
        }
    }
}
.testi{
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    section{
        width: 89vw;
        height: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #FBF6EA;
        h4{
            font-family: Sen;
            font-weight: 700;
            font-size: 24px;
            leading-trim: NONE;
            line-height: 32px;
            letter-spacing: 0px;
            color: #232536;
        }
        h2{
            font-family: Sen;
            font-weight: 700;
            font-size: 36px;
            leading-trim: NONE;
            line-height: 48px;
            letter-spacing: -2px;
            color: #232536;
        }
        p{
            font-family: Inter;
            font-weight: 600;
            font-size: 16px;
            leading-trim: NONE;
            line-height: 20px;
            letter-spacing: 3px;
            color: #232536;
        }
        .whe{
            font-family: Inter;
            font-weight: 400;
            font-size: 16px;
            leading-trim: NONE;
            line-height: 28px;
            letter-spacing: 0px;
            color: #6D6E76;
        }
        .ritghtes{
            width: 20%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
        }
        .line{
            width: 1px;
            height: 70%;
            background-color: #6D6E76;
            opacity: 0.4;
        }
        .leftes{
            width: 40%;
            height: 62%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            .jon{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 70%;
            }
            .jonathan{
                display: flex;
                width: 40%;
                justify-content: space-between;
            }
            .divbut{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 20%;
            }
            img{
                width: 48px;
                height: 48px;
                border-radius: 100%;
            }
            .but{
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                background-color: #FFFFFF;
                font-size: 20px;
            }
            .butt{
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                background-color: #FFFFFF;
                font-size: 20px;
                transform: scaleX(-1);
            }
            .but:hover{
                        background-color: #232536; 
                        color: #FFFFFF;
                        width: 62px;
                        height: 62px;
                    }
            .butt:hover{
                        background-color: #232536; 
                        color: #FFFFFF;
                        width: 62px;
                        height: 62px;
                    }
        }
    }
}